alembic==1.6.5
bcrypt==4.0.1
databases==0.7.0
fastapi==0.88.0
fastapi-pagination==0.11.1
fastapi-utils==0.2.1
mysql-connector==2.2.9
passlib==1.7.4
psycopg2==2.9.5
pydantic==1.10.2
PyMySQL==1.0.2
python-dateutil==2.8.2
python-dotenv==0.21.0
python-editor==1.0.4
python-jose==3.3.0
python-multipart==0.0.5
PyYAML==6.0
SQLAlchemy==1.4.45
sqlalchemy2-stubs==0.0.2a29
sqlmodel==0.0.8
uvicorn==0.20.0
